<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospitaldata.mapper.InoutpatienttypeMapper">

    <select id="selectInoutpatienttype" resultType="map">
        SELECT inoutp.bigprojectId,inoutp.inoutpatientId,inoutp.projectName,inoutp.price,pro.projectId,pro.projectName as
        projectNames,inoutp.unit as unitId,un.unitName
        FROM inoutpatienttype as inoutp
        left join unit as un on(un.unitId=inoutp.unit)
        left join projecttype as pro on(inoutp.bigprojectId=pro.projectId)
        where 1=1
        <if test="projectName!=null">
            and inoutp.projectName like '%${projectName}%'
        </if>
        limit ${(page-1)*limit},${limit}

    </select>

    <select id="selectInoutpatienttypeAll" resultType="map">
        SELECT inoutp.bigprojectId,inoutp.inoutpatientId,inoutp.projectName,inoutp.price,pro.projectId,pro.projectName as
        pprojectName,un.unitId,inoutp.unit,un.unitName
        FROM inoutpatienttype as inoutp
        left join unit as un on(un.unitId=inoutp.unit)
        left join projecttype as pro on(inoutp.bigprojectId=pro.projectId)
        where 1=1
        <if test="projectName!=null">
            and inoutp.projectName like '%${projectName}%'
        </if>
        limit ${(page-1)*limit},${limit}

    </select>

</mapper>
